div#f
	div.container
		div.footer
			p &copy;&nbsp;
				a(href='#') Yihua Wanglv
				|  2017

script(src='/scripts/classie.js')
script(src='/scripts/bootstrap.min.js')
script(src='/scripts/smoothscroll.js')
script(src='/scripts/index.js')
block footer