div#f
	div.container
		div.footer
			p &copy;&nbsp;
				| 2017&nbsp;
				a(href='http://www.iyihua.cn/') Yihua Wanglv&nbsp;
				a(href='http://www.miitbeian.gov.cn/') 粤ICP备17057026号

script(src='/scripts/classie.js')
script(src='/scripts/bootstrap.min.js')
script(src='/scripts/smoothscroll.js')
script(src='/scripts/index.js')
block footer