nav.menu#theMenu
	div.menu-wrap
		h1.logo
			a(href="index.html#home") iYihua
		i.icon-remove.menu-close
		a.smoothScroll(href="#home") Home
		a.smoothScroll(href="#about") About
		a.smoothScroll(href="#portfolio") Portfolio
		a.smoothScroll(href="#contact") Contact
		a(href="#")
			i.icon-facebook
		a(href="#")
			i.icon-github
		a(href="#")
			i.icon-envelope
	div#menuToggle
		i.icon-reorder